@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
body
	{	
	max-width: 100em;
}
nav
	{
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	height: 2em;
	max-width: 50em;
	margin: auto;
	background-color: #707070;
	color: #FFFFFF;
}

nav a {
	margin-left: 1em;
	text-decoration: none;
	color: #FFFFFF;
}

.Blue,p
	{
	background-color: blue;

}

.imageTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10em;
	background-color: #2699FB;
	max-width: 50em;
	margin: auto;
	color: #FFFFFF;
}

.imageBlock {
	height: 20em;
	max-width: 50em;
	margin: auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#grid-container
{
	border: solid 1em #FFFFFF;
	display: grid;
}
#article1
{
	grid-column: 1/3;
	background-image: url("../img/product3.png");
}

#entertainmentImage {
	background-image: url("../img/product3.png");
}

#mobileGamesImage {
	background-image: url("../img/product8.png");
}

#boardGamesImage {
	background-image: url("../img/product6.png");
}

#consoleGamesImage {
	background-image: url("../img/product9.png");
}

#backGroundVideo {
	 position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}

#logo {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 10em;
	max-width: 50em;
	margin: auto;
}

#logo img {
	object-fit: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1	
	{
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
}
h2
	{
	text-transform: uppercase;
}
p
	{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2em;
	max-width: 50em;
	margin: auto;
	background-color: #000000;
	color: #FFFFFF;
}
