@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
body
	{	
	background-image: "movie/background.mp4"
}
nav
	{
	text-transform: uppercase;
}
.Blue,p
	{
	background-color: blue;
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
}
h2
	{
	text-transform: uppercase;
}