@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
body
	{	
	max-width: 100em;
}
nav
	{
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	height: 2em;
	max-width: 50em;
	margin: auto;
	background-color: #707070;
	color: #FFFFFF;
}

nav a {
	margin-left: 1em;
	text-decoration: none;
	color: #FFFFFF;
}

.Blue,p
	{
	background-color: blue;

}

.imageTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10em;
	background-color: #2699FB;
	max-width: 50em;
	margin: auto;
	color: #FFFFFF;
}

.imageBlock {
	height: 20em;
	max-width: 50em;
	margin: auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#entertainmentImage {
	background-image: url("../img/product3.jpg");
}

#mobileGamesImage {
	background-image: url("../img/product8.jpg");
}

#boardGamesImage {
	background-image: url("../img/product6.jpg");
}

#consoleGamesImage {
	background-image: url("../img/product9.jpg");
}

#backGroundVideo {
	position:fixed;
	right: 0;
	bottom: 0;
	min-height: 100em;
}

#logo {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 10em;
	max-width: 50em;
	margin: auto;
}

#logo img {
	object-fit: cover;
}

h1	
	{
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
}
h2
	{
	text-transform: uppercase;
}